/* ----------------------------------------------------------------------------- *\
   DEFAULTS
\* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- *\
   MIXINS
\* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- *\
   GLOBAL LAYOUT
\* ----------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\000037}}
html {
  overflow-y: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000311}}
body {
  font: normal 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000317}}
hr {
  clear: both;
  margin: 10px 0;
}

/* ----------------------------------------------------------------------------- *\
   FFDOG
\* ----------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000326}}
.navbar {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000331}}
.names .btn-add-more {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000335}}
.names .icon-remove {
  margin: -2px 0 0 5px;
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000339}}
.names .icon-remove:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000345}}
.output {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000348}}
.output ol {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000352}}
.output ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000355}}
.output ul .heading {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000361}}
.output ul .heading:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000366}}
.output ul li {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mprzybylski\/Work\/Personal\/2013\/ffdog\/sass\/main\.scss}line{font-family:\0000371}}
.output .check {
  vertical-align: bottom;
  position: relative;
  top: -4px;
}
